.background-custom-color {
  background-color: #05203c;
}

.bg-custom-color-light {
  /* background-color: rgb(225, 240, 255); */
  background-image: url("https://img.redbull.com/images/q_auto,f_auto/redbullcom/2015/11/10/1331758885657_2/adventurer-alastair-humphreys-hiking");
  background-size: cover;
}

.text-custom-color {
  color: #05203c;
}

.btn-custom {
  background-color: #05203c;
  color: #f8f9fa;
}

.btn-custom:hover {
  background-color: #f8f9fa;
  color: #05203c;
  border: solid 1px #05203c;
}

.border-color {
  border: 1px solid #133050;
}

.opacity-6 {
  opacity: 0.2;
}

.opacity-8 {
  opacity: 0.8;
}

.navbar-toggler-icon {
  color: white;
}

.card-img-fixed {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-img-side {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.card-img-last-minute {
  height: 280px;
  width: 100%;
  object-fit: cover;
}
